.table {
  width: 100%;
  min-width: max-content;
  border-collapse: collapse;
  text-align: left;
  color: #090a0a;
  &-head {
    th {
      border-bottom: 1px solid #cbd5e0;
      background-color: #e2e5e7;
      padding: 1rem;
      font-weight: 800;
      font-size: 0.875rem;
      color: #090a0a;
      opacity: 0.7;
    }
  }

  &-rows {
    tr {
      &:nth-child(even) {
        background-color: rgba(17, 18, 19, 0.5);
      }

      td {
        padding: 1rem;
        font-weight: normal;
        font-size: 0.875rem;
        color: #101011;
      }
    }
  }
}

.font-normal {
  font-weight: normal;
  border: 2px 3px 4px 5px red;
}

.input-groupsearch {
  position: relative;
  label {
    font-weight: 700;
  }
  .inputSearch {
    width: 10%;
    height: 30px;
    line-height: 30px;
    padding: 0 5rem;
    margin: 0.5rem;
    padding-left: 3rem;
    border: solid 1.5px #9e9e9e;
    border-radius: .5rem;
    background: none;
    font-size: 1rem;
    color: #111111;
    transition: border 150ms cubic-bezier(0.4, 0, 0.2, 1);

    &:focus,
    &:valid {
      outline: none;
      border: 1.5px solid #1a73e8;
    }
  }
}
