.input {
  width: 150px;
  height: 30px;
  border-radius: 10px;
  border: 1.5px solid #1a73e8;
  margin: 1rem;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background-color: #e2e2e2;
  outline-offset: 3px;
  padding: 2px 0.5rem;
  transition: 0.25s;

  &:focus {
    outline-offset: 5px;
    background-color: #fff;
  }
}
