.input {
    width: 150px;
    height: 30px;
    border-radius: 10px;
    border: 1.5px solid #1a73e8;
    margin: 1rem;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: #e2e2e2;
    outline-offset: 3px;
    padding: 2px .5rem;
    transition: 0.25s;

    
    &:focus {
      outline-offset: 5px;
      background-color: #fff;
    }
  }
  

  .inputup {
    max-width: 220px;
    height: 35px;
    // margin: 1rem;
    background-color: #05060f0a;
    border-radius: 0.5rem;
    padding: 0 1rem;
    border: 1.5px solid #1a73e8;
    font-size: 1rem;
    transition: border-color 0.3s cubic-bezier(0.25, 0.01, 0.25, 1) 0s, color 0.3s cubic-bezier(0.25, 0.01, 0.25, 1) 0s; background : 0.2s cubic-bezier(0.25, 0.01, 0.25, 1) 0s;
  
    &:hover,
    &:focus,
    .input-group:hover & {
      outline: none;
      border-color: #05060f;
    }
  }
  
  .label {
    display: block;
    margin-bottom: 0.3rem;
    font-size: 0.9rem;
    font-weight: 700;
    color: #09090a99;
    transition: color 0.3s cubic-bezier(0.25, 0.01, 0.25, 1) 0s;
  }
  
  .inputup:hover ~ .label,
  .inputup:focus ~ .label,
  .input-group:hover .label {
    color: #05060fc2;
  }
  