@import "./table/table.scss";
@import "./besicElement/basicElement.scss";
@import "./button.scss";
@import "./inputs.scss";
@import "./validation/validation.scss";

$bgcolor: #ecf0f1;

// * {
//   background-color: $bgcolor;
//   margin: 2px;
// }

.text-red{
  color: red;
}
.text-green{
  color: green;
}

.icon{
  width: 20px;
  height: 20px;
}

.grid-cols-3{
  display: grid;
  grid-template-columns: repeat(5, minmax(0, 1fr));
}

.col-span-1 {
  grid-column: span 1;
}
