.flexvalidate{
    display: grid;
    // justify-content: center;
}

.validation-text{
    text-align: center;
}

@media (min-width: 540px) {
    .flexvalidate{
        display: flex;
        justify-content: center;
    }
}