.input-groupBasic {
  position: relative;
  label {
    font-weight: 700;
  }
  .inputbasic {
    width: 10%;
    height: 30px;
    line-height: 30px;
    padding: 0 5rem;
    margin: 0.5rem;
    padding-left: 3rem;
    border: solid 1.5px #9e9e9e;
    border-radius: 0.5rem;
    background: none;
    font-size: 1rem;
    color: #111111;
    transition: border 150ms cubic-bezier(0.4, 0, 0.2, 1);

    &:focus,
    &:valid {
      outline: none;
      border: 1.5px solid #1a73e8;
    }
  }
}

.basic-element {
  background: #f9fbfc;
  padding: 2rem;
  margin: 1rem;
  border: 0 0 0 5px solid red;
}

.grid {
  display: grid;
  grid-template-columns: repeat(1, minmax(0, 1fr));
}
.flex {
  display: flex;
  margin-left: 1rem;
  justify-content: space-between;
  align-items: center;
}

.becolor {
  padding: 1rem;
  background-color: #fff;
  h4 {
    margin-left: 1rem;
  }
  p {
    margin-left: 1rem;
  }
}

@media (min-width: 540px) {
  .grid {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }
}

@media (min-width: 840px) {
  .grid {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}
@media (min-width: 1241px) {
  .grid {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}
